<div class="container">
	<ul class="col-xs-12 col-sm-10 col-md-8 center-block comments">
		<li>
			<a href="/users/@xiamix" class="avatar">
				<img src="/img/1144_big.jpg" class="img-rounded img-small-responsive">
			</a>
			<div class="content">
				<form ng-submit="postComment()">
					<textarea type="text" ng-model="comment" placeholder="Comment" maxlength="250"></textarea>
					<button ng-click="postComment" type="submit" class="btn btn-sm btn-primary no-padding pull-right">Comment</button>
				</form>
			</div>
		</li>
		<li ng-repeat="comment in comments">
			<a href="/users/@xiamix" class="avatar">
				<img src="/img/1144_big.jpg" class="img-rounded img-small-responsive">
			</a>
			<div class="content">
				<div class="title">
					<a href="/users/@xiamix" class="username">
						{{comment.author.username}}
					</a>
					<a ng-if="comment.author._id == $storage.user._id" href="#" class="glyphicon glyphicon-error pull-right"><i class="fa fa-sm fa-times glyphicon-error pull-right"></i></a><!--For author + mod -->
					<a ng-if="comment.author._id == $storage.user._id" href="#" class="glyphicon glyphicon-info pull-right"><i class="fa fa-sm fa-edit glyphicon-info pull-right"></i></a><!--For author -->
				</div>
				<div class="text">
					<p>
						{{comment.comment.comment}}
					</p>
				</div>
				<div class="sub">
					<small><nowrap>Posted on {{comment.comment.date | date:'medium'}}</nowrap></small> 
				</div>
			</div>
		</li>
	</ul>
</div>
<pre>{{comments}}</pre>