<div class="container player">
	<div class="row">
		<div class="col-sm-1 col-md-offset-1 col-lg-offset-2 hidden-xs" style="margin-top: 50px">
			<button ng-if="prevEpisode" class="btn btn-default" ng-click="prevEpisode()"><span class="glyphicon glyphicon-chevron-left" style="font-size: 30px;"></span></button>
		</div>
		<div ng-if="!currentLink && loaded" class="col-lg-6 col-md-8 col-sm-10" style="height: 200px;" >
			<div class="alert alert-warning" translate="ALERT_NOLINK" style="margin-top: 60px;">
			  <strong>No link!</strong> Please <a href="#" title="Add link" data-toggle="modal" data-target="#formlinkModal">add one</a> or come back later...
			</div>
		</div>
		<div class="col-lg-6 col-md-8 col-sm-10" ng-if="currentLink" style="height: 360px">
			<div class="player-loading">
				<div class="alert alert-warning" translate="ALERT_LOADING">
				  <strong>Loading!</strong> The video will appear in a few seconds...
				</div>
			</div>

			<iframe id="playerFrame" ng-if="currentLink" width="100%" height="100%" ng-src="{{trustSrc(currentLink.iframe)}}" frameborder="0" allowfullscreen="" SCROLLING="NO"></iframe>
		</div>
		<div class="col-sm-1 hidden-xs"  style="margin-top: 50px">
			<button ng-if="nextEpisode" class="btn btn-default pull-right" ng-click="nextEpisode()"><span class="glyphicon glyphicon-chevron-right" style="font-size: 30px;"></span></button>
		</div>
	</div>
	
	<div class="row margintop10">
		<div class="col-xs-12 col-sm-9 col-md-7 center-block player-path" ng-if="links">
			<div class="col-xs-2" style="padding-left:0px;">
				<a href="#" class="player-path-glyphicon glyphicon-info" title="Show all links" ng-click="toggleLinks()">
					<i class="fa fa-caret-right fa-sm" ng-hide="showAllLinks"></i> 
					<i class="fa fa-caret-down fa-sm" ng-show="showAllLinks"></i> 
					<span translate="LINKS">Links</span>
				</a>
			</div>
			<div class="col-xs-5">
				<center>
					<div class="player-path-hostname" data-placement="bottom" data-container="body" data-trigger="hover" data-title="{{'LINK_ADDED' | translate}} {{currentLink.date | date:'medium'}}" bs-tooltip>{{currentLink.host}} <span class="flag flag-{{currentLink.language}}"></span></div>
				</center>
			</div>
			<div class="col-xs-3" style="padding-right:0px;">
				<div class="pull-right">
					<a href="#" class="player-path-glyphicon glyphicon-error" ng-if="!($storage.user && ($storage.user._id == currentLink._uploaderId || $storage.user.rights >= 2))" title="Notify us of a problem with this link" data-toggle="modal" data-target="#reportModal"><i class="fa fa-flag fa-sm"></i> <span translate="REPORT">Report</span></a>
					<a href="#" class="player-path-glyphicon glyphicon-error" ng-if="$storage.user && ($storage.user._id == currentLink._uploaderId || $storage.user.rights >= 2)" ng-click="deleteLink(currentLink, true)"><i class="fa fa-times fa-sm"></i> <span translate="DELETE">Delete</span></a>
				</div>
			</div>
			<div class="col-xs-2" style="padding-right:0px;">
				<div class="pull-right">
					<a href="#" class="player-path-glyphicon glyphicon-error" title="Add link" data-toggle="modal" data-target="#formlinkModal"><i class="fa fa-plus"></i> <span translate="ADD">Add</span></a>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-7 center-block player-links margintop5" ng-show="showAllLinks">
			<table class="table table-striped">
				<tr ng-repeat="link in links" ng-if="showLink(link)">
					<td>
						<div class="logo24 logo-{{link.hostname}}"></div>
					</td>
					<td><a href="" ng-click="changeLink(link)">{{link.url}}</a>
						<a href="" ng-if="$storage.user && ($storage.user._id == link._uploaderId || $storage.user.rights >= 2)" ng-click="deleteLink(link)" data-trigger="hover" data-title="Delete Link" data-placement="right" bs-tooltip><i class="fa fa-times"></i></a></td>
					<td><span class="flag flag-{{link.language}}"></span></td>
					<td><span class="flag flag-{{link.subtitles}}"></span></td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!-- Report modal -->
<div class="modal" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="report" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel" translate="FORM_REPORTLINK">Report this link</h4>
			</div>
			<form ng-submit="reportLink(reason)">
				<div class="modal-body">
					<div id="reportAlertContainer"></div>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="reason" placeholder="What's wrong with this link?" />
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger" translate="REPORT">Report</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- linkform modal -->
<div class="modal" id="formlinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" translate="ADDLINKS_TITLE">Add Links</h4>
	  </div>
	  <form ng-submit="submitLinks(formLinks)">
		  <div class="modal-body form-inline">
			<div id="linkAlertContainer"></div>
			<div ng-repeat="link in formLinks" class="marginbottom10">
				<div class="form-group">
					<input ng-focus="addLinkRow(link)" size="40" class="form-control" type="text" placeholder="http://" name="url" ng-model="link.url" />
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-sm btn-default" ng-model="link.language" data-html="1" ng-options="language.code as language.name for language in languages" placeholder="Audio" bs-select>
					 	Audio
					</button>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-sm btn-default" ng-model="link.subtitles" data-html="1" ng-options="language.code as language.name for language in sub_languages" placeholder="{{'FORM_SUBTITLES' | translate}}" bs-select>
					 	Subs
					</button>
				</div>
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="submit" class="btn btn-info" translate="FORM_SAVE">Save changes</button>
		  </div>
	  </form>
	</div>
  </div>
</div