{{lists}}

<div class="container">
	<a href="/movies/1" class="page-header-link">
		<h3 class="page-header">
			Mainstream Movies
		</h3>
	</a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
</div>
<div class="container">
	<a href="/movies/1" class="page-header-link">
		<h3 class="page-header">
			Top Shows
		</h3>
	</a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
</div>
<br />
<div class="container">
	<a href="/lists" class="page-header-link">
		<h3 class="page-header">
			Shortlists
		</h3>
	</a>
	<a href="/lists/1">
		<div class="col-xs-4 col-md-2 margin-vertical">
			<div class="col-xs-12 no-padding">
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<p class="no-padding list-title hidden-xs hidden-sm">
					Marvel's Heroes
				</p>
			</div>
		</div>
	</a>
	<a href="/lists/1">
		<div class="col-xs-4 col-md-2 margin-vertical">
			<div class="col-xs-12 no-padding">
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<p class="no-padding list-title hidden-xs hidden-sm">
					Blockbusters
				</p>
			</div>
		</div>
	</a>
	<a href="/lists/1">
		<div class="col-xs-4 col-md-2 margin-vertical">
			<div class="col-xs-12 no-padding">
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<p class="no-padding list-title hidden-xs hidden-sm">
					Cannes 2014
				</p>
			</div>
		</div>
	</a>
	<a href="/lists/1">
		<div class="col-xs-4 col-md-2 margin-vertical">
			<div class="col-xs-12 no-padding">
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<p class="no-padding list-title hidden-xs hidden-sm">
					Love Stories
				</p>
			</div>
		</div>
	</a>
	<a href="/lists/1">
		<div class="col-xs-4 col-md-2 margin-vertical">
			<div class="col-xs-12 no-padding">
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<p class="no-padding list-title hidden-xs hidden-sm">
					Sagas
				</p>
			</div>
		</div>
	</a>
	<a href="/lists/1">
		<div class="col-xs-4 col-md-2 margin-vertical">
			<div class="col-xs-12 no-padding">
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<p class="no-padding list-title hidden-xs hidden-sm">
					Our Favourites
				</p>
			</div>
		</div>
	</a>
</div>