<div class="container margintop20">
	<h3 class="page-header">{{list.title || list.name | translate}}</h3>
	<div class="row mediacard margintop20" ng-repeat="item in items">
		<div class="col-lg-2 col-sm-3 col-xs-3 frameMedia">
			<a ng-href="/{{item.media || 'movies'}}/{{item.id}}">
				<img class="poster" ng-src="{{ 'https://image.tmdb.org/t/p/w185' + item.poster_path || 'http://placehold.it/193x270&text=no+poster'}}"></img>
			</a>
		</div>
		<div class="col-xs-9 col-sm-9 col-lg-10 margin-top">
			<button class="btn btn-primary pull-right hidden" translate="FORM_ADDTOLIST">Add to list</button>
			<a ng-href="/{{item.media || 'movies'}}/{{item.id}}"><h2 ng-bind="item.title || item.original_title || item.name">TITLE</h2></a>
			<h4 class="marginbottom5"><small>
				<span ng-bind="item.release_date || item.first_air_date | date: 'yyyy'">2014</span> 
				<span class="hidden"> <b>&middot;</b><span ng-bind="item.runtime">90</span> min</span>
			</small></h4>
			<h4 ng-if="item.credits.crew && item.title"><small>
				<span translate="BY">By</span> 
				<span ng-repeat="role in item.credits.crew |filter: {job:'Director'}:true"><span ng-if="$index != 0"> &middot; </span><a href="#" ng-bind="role.name"></a></span>
			</small></h4>
			<h4 ng-if="item.created_by.length"><small>
				<span translate="BY">By</span> 
				<span ng-repeat="creator in item.created_by"><span ng-if="$index != 0"> &middot; </span><a href="#" ng-bind="creator.name"></a></span>
			</small></h4>
			<h4 ng-show="item.credits.cast"><small><span translate="WITH">With</span> <span ng-repeat="role in item.credits.cast|limitTo: 4" ><span ng-if="$index != 0"> &middot; </span><a href="#" ng-bind="role.name" data-title="{{role.character}}" bs-tooltip></a></small></h4>
			<p class="plot margintop10">
				<span ng-bind="item.overview"></span>
			</p> 
		</div>
	</div>
</div>