<div class="container">
	<a href="#" class="page-header-link">
		<h3 class="page-header">
			Mainstream Movies
		</h3>
	</a>
</div>
<div class="container">
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
</div>
<div class="container">
	<a href="#" class="page-header-link">
		<h3 class="page-header">
			Top Shows
		</h3>
	</a>
</div>
<div class="container">
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
</div>
<br />
<div class="container">
	<a href="#" class="page-header-link">
		<h3 class="page-header">
			Shortlists
		</h3>
	</a>
</div>
<div class="container">
	<a href="#">
		<div class="col-xs-2">
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<div class="col-xs-12 list-titleframe">
				<div class="list-title">Marvel's Heroes</div>
			</div>
		</div>
	</a>
	<a href="#">
		<div class="col-xs-2">
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<div class="col-xs-12 list-titleframe">
				<div class="list-title">Blockbusters</div>
			</div>
		</div>
	</a>
	<a href="#">
		<div class="col-xs-2">
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<div class="col-xs-12 list-titleframe">
				<div class="list-title">American Pies</div>
			</div>
		</div>
	</a>
	<a href="#">
		<div class="col-xs-2">
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<div class="col-xs-12 list-titleframe">
				<div class="list-title">Jason Statham</div>
			</div>
		</div>
	</a>
	<a href="#">
		<div class="col-xs-2">
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<div class="col-xs-12 list-titleframe">
				<div class="list-title">Love Stories</div>
			</div>
		</div>
	</a>
	<a href="#">
		<div class="col-xs-2">
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
			<div class="col-xs-12 list-titleframe">
				<div class="list-title">Our Favourites</div>
			</div>
		</div>
	</a>
</div>