{{lists}}

<div class="container">
	<a href="/movies/1" class="page-header-link">
		<h3 class="page-header">
			Mainstream Movies
		</h3>
	</a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/shows/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Show.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
</div>
<div class="container">
	<a href="/movies/1" class="page-header-link">
		<h3 class="page-header">
			Top Shows
		</h3>
	</a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
</div>
<br />
<div class="container">
	<a href="/lists" class="page-header-link">
		<h3 class="page-header">
			Shortlists
		</h3>
	</a>
	<a href="/lists/1" class="col-xs-4 col-sm-4 col-md-2 frame">
		<div class="poster">
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<div class="list-head">
				<p class="list-title">
					Marvel's Heroes
				</p>
			</div>
		</div>
	</a>
	<a href="/lists/1" class="col-xs-4 col-sm-4 col-md-2 frame">
		<div class="poster">
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<div class="list-head">
				<p class="list-title">
					Marvel's Heroes
				</p>
			</div>
		</div>
	</a>
	<a href="/lists/1" class="col-xs-4 col-sm-4 col-md-2 frame">
		<div class="poster">
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<div class="list-head">
				<p class="list-title">
					Marvel's Heroes
				</p>
			</div>
		</div>
	</a>
	<a href="/lists/1" class="col-xs-4 col-sm-4 col-md-2 frame">
		<div class="poster">
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<div class="list-head">
				<p class="list-title">
					Marvel's Heroes
				</p>
			</div>
		</div>
	</a>
	<a href="/lists/1" class="col-xs-4 col-sm-4 col-md-2 frame">
		<div class="poster">
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<div class="list-head">
				<p class="list-title">
					Marvel's Heroes
				</p>
			</div>
		</div>
	</a>
	<a href="/lists/1" class="col-xs-4 col-sm-4 col-md-2 frame">
		<div class="poster">
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<img class="col-xs-6 list-cover" src="img/Movie.jpg"></img>
			<div class="list-head">
				<p class="list-title">
					Marvel's Heroes
				</p>
			</div>
		</div>
	</a>
</div>