<div class="container">
	<a href="#" class="page-header-link">
		<h3 class="page-header">
			Mainstream Movies
		</h3>
	</a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
</div>
<div class="container">
	<a href="#" class="page-header-link">
		<h3 class="page-header">
			Top Shows
		</h3>
	</a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
	<a href="#"><img class="col-xs-2" src="img/Movie.jpg"></img></a>
</div>
<br />
<div class="container">
	<a href="#" class="page-header-link">
		<h3 class="page-header">
			Shortlists
		</h3>
	</a>
	<a href="#">
		<div class="col-xs-2">
			<div class="col-xs-12 no-padding">
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<p class="no-padding list-title">
					Marvel's Heroes
				</p>
			</div>
		</div>
	</a>
	<a href="#">
		<div class="col-xs-2">
			<div class="col-xs-12 no-padding">
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<p class="no-padding list-title">
					Blockbusters
				</p>
			</div>
		</div>
	</a>
	<a href="#">
		<div class="col-xs-2">
			<div class="col-xs-12 no-padding">
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<p class="no-padding list-title">
					Cannes 2014
				</p>
			</div>
		</div>
	</a>
	<a href="#">
		<div class="col-xs-2">
			<div class="col-xs-12 no-padding">
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<p class="no-padding list-title">
					Love Stories
				</p>
			</div>
		</div>
	</a>
	<a href="#">
		<div class="col-xs-2">
			<div class="col-xs-12 no-padding">
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<p class="no-padding list-title">
					Sagas
				</p>
			</div>
		</div>
	</a>
	<a href="#">
		<div class="col-xs-2">
			<div class="col-xs-12 no-padding">
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<img class="col-xs-6 no-padding" src="img/Movie.jpg"></img>
				<p class="no-padding list-title">
					Our Favourites
				</p>
			</div>
		</div>
	</a>
</div>