<div class="container" infinite-scroll="addMoreLists()" infinite-scroll-distance="0">
	<div class="row" ng-repeat="list in lists" ng-if="list.items">
		<a ng-href="/lists/{{list.id || list.url}}/{{list.media}}" class="page-header-link">
			<h3 class="page-header" translate="{{list.name}}" translate-values="{media: list.media}">
				{{list.name}}
			</h3>
		</a>
		<a ng-href="/{{list.media || 'movies'}}/{{item.id}}" ng-repeat="item in list.items | limitTo:6" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="/img/Movie.jpg" ng-src="{{'http://image.tmdb.org/t/p/w150' + item.poster_path}}"></img></a>
	</div>
</div>
{{lists}}