<div class="container">
		<h3 class="page-header">
			 Man of Steel <small class="nowrap"><i>(L'Homme de Fer)</i></small>
		</h3>
	<div class="col-md-2 hidden-xs hidden-sm">
		<img class="col-md-12 no-padding margin-vertical" src="../img/Movie.jpg"></img>
	</div>
	<div class="col-xs-12 col-md-9 margin-top">
		<dl class="dl-horizontal">
			<dt>
				Directed by
			</dt>
			<dd>
				<a href="/person/1">Zack Snyder</a>
			</dd>
			<dt>
				With
			</dt>
			<dd>
				<a href="/person/1" class="nowrap">Henry Cavill</a>, <a href="/person/1" class="nowrap">Diane Lane</a>, <a href="/person/1" class="nowrap">Kevin Costner</a> and <a href="/person/1" class="nowrap">Amy Adams</a>
			</dd>
			<dt>
				Plot
			</dt>
			<dd>
				<p>A young itinerant worker is forced to confront his secret extrastellar origin when Earth is invaded by members of his own race.</p>
			</dd>
			<br />
			<dt>
				Advanced
			</dt>
			<dd>
				<a href="/genres/action" class="nowrap">Action</a> and <a href="/genres/adventure" class="nowrap">Advanture</a> | 143 Min | <a href="/countries/us" class="nowrap">United States</a> | <a href="/select">Select</a> | <a href="/edit" class="alert-danger-link">Edit</a>
			</dd>
		</dl>
	</div>
</div>
<div class="container">
	<div class="col-xs-10 center-block">
		<hr />
	</div>
</div>
<div class="container player">
	<div class="center-block hidden-xs hidden-sm" style="width:560px;height:315px;">
		<iframe id="playerFrame" width="560" height="315" src="http://www.exashare.com/embed-j8wwzy2cf9a0-560x315.html" frameborder="0" allowfullscreen="" SCROLLING="NO"></iframe>
		<div  class="player-loading">
			<div class="alert alert-warning">
			  <strong>Loading!</strong> The movie will appear in a few of seconds...
			</div>
		</div>
	</div>
	<div class="hidden-md hidden-lg col-xs-9 no-padding center-block container-player">
		<img class="col-xs-12 no-padding" src="../img/18951_screen.jpg"></img>
		<a href="#"><img class="btn-play" src="../img/Play - Inverse.png"></img></a>
	</div>
	<br />
	<div class="col-xs-9 col-sm-9 col-md-7 col-lg-6 center-block player-path">
		<img src="/img/Purevid.png" class="img-rounded img-small"></img>
		<div class="player-path-hostname">Purevid</div>
		<div class="player-path-hostinfo inline">|<i class="fa fa-sm fa-mobile"></i>|<img src="/img/flags/64/United-States.png" class="img-extra-small opacity-8">|</img><img src="/img/flags/64/France.png" class="img-extra-small opacity-8"></img></div>
		<a href="#" class="player-path-glyphicon"><span class="pull-right inline glyphicon glyphicon-error glyphicon-flag"></span></a>
		<a href="#" class="player-path-glyphicon"><span class="pull-right inline glyphicon glyphicon-info glyphicon-random"></span></a>
	</div>
</div>
<div class="container">
	<div class="col-xs-10 center-block">
		<hr />
	</div>
</div>