<div class="container">
		<h3 class="page-header">
			 Man of Steel <small class="nowrap"><i>(L'Homme de Fer)</i></small>
		</h3>
	<div class="col-md-2 hidden-xs hidden-sm frame">
		<img class="poster margin-vertical" src="../img/Movie.jpg"></img>
	</div>
	<div class="col-xs-12 col-md-9 margin-top">
		<dl class="dl-horizontal">
			<dt>
				Directed by
			</dt>
			<dd>
				<a href="/person/1">Zack Snyder</a>
			</dd>
			<dt>
				With
			</dt>
			<dd>
				<a href="/person/1" class="nowrap">Henry Cavill</a>, <a href="/person/1" class="nowrap">Diane Lane</a>, <a href="/person/1" class="nowrap">Kevin Costner</a> and <a href="/person/1" class="nowrap">Amy Adams</a>
			</dd>
			<dt>
				Plot
			</dt>
			<dd>
				<p>A young itinerant worker is forced to confront his secret extrastellar origin when Earth is invaded by members of his own race.</p>
			</dd>
			<br />
			<dt>
				<span class="hidden-xs">Advanced</span>
			</dt>
			<dd>
				<span class="visible-xs"><b>Genres</b></span><a href="/genres/action" class="nowrap">Action</a> and <a href="/genres/adventure" class="nowrap">Advanture</a> <span class="hidden-xs">|</span><span class="visible-xs"><b>Lenght</b></span> 143 Min <span class="hidden-xs">|</span><span class="visible-xs"><b>Country</b></span> <a href="/countries/us" class="nowrap">United States</a> <span class="hidden-xs">|</span><span class="visible-xs"><b>Advanced</b></span> <a href="spoilzr">Spoilzr</a> | <a href="/edit" class="alert-danger-link">Edit</a>
			</dd>
		</dl>
	</div>
</div>

<div class="container">
	<div class="col-xs-12 col-sm-10 center-block">
		<hr />
	</div>
</div>

<div id="movieAlertContainer"></div>

<div class="container player">
	<div class="center-block hidden-xs" style="width:560px;height:315px;">
		<div class="player-loading">
			<div class="alert alert-warning">
			  <strong>Loading!</strong> The movie will appear in a few seconds...
			</div>
		</div>
		<iframe id="playerFrame" width="100%" height="100%" ng-src="{{trustSrc(currentLink.iframe)}}" frameborder="0" allowfullscreen="" SCROLLING="NO"></iframe>
	</div>
	<div class="visible-xs col-xs-12 no-padding center-block container-player">
		<img class="col-xs-12 no-padding" src="../img/18951_screen.jpg"></img>
		<a href="#"><img class="btn-play" src="../img/Play - Inverse.png"></img></a>
	</div>
	<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 center-block player-path">
		<div class="col-xs-3" style="padding-left:0px;">
			<a href="#" class="player-path-glyphicon glyphicon-info" title="Show all 12 links" ng-click="showAllLinks = !showAllLinks">
				<i class="fa fa-caret-right fa-sm" ng-hide="showAllLinks"></i> 
				<i class="fa fa-caret-down fa-sm" ng-show="showAllLinks"></i> 
				<span translate="LINKS">Links</span>
			</a>
		</div>
		<div class="col-xs-5">
			<center>
				<img src="/img/Purevid.png" class="img-rounded img-xsmall hidden-xs"></img>
				<div class="player-path-hostname" title="Added June the 2nd by @xiamix">{{currentLink.host}}</div>
			</center>
		</div>
		<div class="col-xs-2" style="padding-right:0px;">
			<div class="pull-right">
				<a href="" ng-click="reportLink()" class="player-path-glyphicon glyphicon-error" title="Notify a problem with this link"><i class="fa fa-flag fa-sm"></i> <span translate="REPORT">Report</span></a>
			</div>
		</div>
		<div class="col-xs-2" style="padding-right:0px;">
			<div class="pull-right">
				<a href="#" class="player-path-glyphicon glyphicon-error" title="Add link" data-toggle="modal" data-target="#formlinkModal"><i class="fa fa-plus fa-sm"></i> <span translate="ADD">Add</span></a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 center-block player-links" ng-show="showAllLinks">
		<div ng-repeat="link in links" ng-if="showLink(link)">
			<img class="flag flag-{{link.language}}"></img> <img class="flag flag-{{link.subtitles}}"></img> <a href="" ng-click="changeLink(link)">{{link.url}}</a>
		</div>
	</div>
</div>

<linkform media="movies" media-id="{{movie.ID}}"></linkform>

<div class="container">
	<div class="col-xs-12 col-sm-10 center-block">
		<hr />
	</div>
</div>

<comments></comments>

<pre>{{movie}}</pre>
<pre>{{links}}</pre>