<br />
<div class="container">
	<div class="col-md-2">
		<img class="col-md-12" src="../img/Movie.jpg"></img>
	</div>
	<div class="col-xs-12 col-md-10">
		<dl class="dl-horizontal">
			<dt>
				Title
			</dt>
			<dd>
				Defenition
			</dd>
			<dt>
				Title
			</dt>
			<dd>
				Defenition
			</dd>
			<dt>
				Title
			</dt>
			<dd>
				Defenition
			</dd>
			<dt>
				Title
			</dt>
			<dd>
				Defenition
			</dd>
			<dt>
				Title
			</dt>
			<dd>
				Defenition
			</dd>
		</dl>
	</div>
</div>