<div class="container">
	<div class="col-md-2 hidden-xs hidden-sm frame">
		<img class="poster margin-vertical" src="../img/Movie.jpg"></img>
	</div>
	<div class="col-xs-12 col-md-9 margin-top">
		<h2>Man Of Steel</h2>
		<h4><small>2014 <b>&middot;</b> 180 min <b>&middot;</b> <span title="Coming soon..." style="cursor:pointer;">Spoilzr</span> <b>&middot;</b> <a href="#">Add to list</a></small></h4>
		<br />
		<p class="plot">The planet Krypton faces imminent destruction due to its unstable core, the result of depleting Krypton's natural resources. The ruling council is deposed by the planet's military commander General Zod and his followers during a coup d'état. Knowing that the use of artificial population control has ruined their civilization, scientist Jor-El and his wife Lara launch their newborn son.</p>
	</div>
</div>

<div class="container">
	<div class="col-xs-12 col-sm-10 center-block">
		<hr />
	</div>
</div>

<div id="movieAlertContainer"></div>

<div class="container player">
	<div class="center-block hidden-xs" style="width:560px;height:315px;">
		<div class="player-loading">
			<div class="alert alert-warning">
			  <strong><i class="fa fa-spin fa-circle-o-notch"></i> Loading!</strong> The movie will appear in a few seconds...
			</div>
		</div>
		<iframe id="playerFrame" width="100%" height="100%" ng-src="{{trustSrc(currentLink.iframe)}}" frameborder="0" allowfullscreen="" SCROLLING="NO"></iframe>
	</div>
	<div class="visible-xs col-xs-12 no-padding center-block container-player">
		<img class="col-xs-12 no-padding" src="../img/18951_screen.jpg"></img>
		<a href="#"><img class="btn-play" src="../img/Play - Inverse.png"></img></a>
	</div>
	<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 center-block player-path">
		<div class="col-xs-2" style="padding-left:0px;">
			<a href="#" class="player-path-glyphicon glyphicon-info" title="Show all 12 links" ng-click="showAllLinks = !showAllLinks">
				<i class="fa fa-caret-right fa-sm" ng-hide="showAllLinks"></i> 
				<i class="fa fa-caret-down fa-sm" ng-show="showAllLinks"></i> 
				<span translate="LINKS">Links</span>
			</a>
		</div>
		<div class="col-xs-5">
			<center>
				<img src="/img/Purevid.png" class="img-rounded img-xsmall hidden-xs"></img>
				<div class="player-path-hostname" title="Added June the 2nd by @xiamix">{{currentLink.host}}</div>
			</center>
		</div>
		<div class="col-xs-3" style="padding-right:0px;">
			<div class="pull-right">
				<a href="" class="player-path-glyphicon glyphicon-error" title="Notify a problem with this link" data-toggle="modal" data-target="#reportModal"><i class="fa fa-flag fa-sm"></i> <span translate="REPORT">Report</span></a>
			</div>
		</div>
		<div class="col-xs-2" style="padding-right:0px;">
			<div class="pull-right">
				<a href="#" class="player-path-glyphicon glyphicon-error" title="Add link" data-toggle="modal" data-target="#formlinkModal"><i class="fa fa-plus fa-sm"></i> <span translate="ADD">Add</span></a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 center-block player-links" ng-show="showAllLinks">
		<div ng-repeat="link in links" ng-if="showLink(link)">
			<img class="flag flag-{{link.language}}"></img> <img class="flag flag-{{link.subtitles}}"></img> <a href="" ng-click="changeLink(link)">{{link.url}}</a>
		</div>
	</div>
</div>

<!-- Report modal -->
<div class="modal" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="report" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Report this link</h4>
			</div>
			<form ng-submit="reportLink()">
				<div class="modal-body">
					<textarea type="text" style="width:100%;height:100px;resize:none;" placeholder=" What's wrong with this link?" maxlength="500"></textarea>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger">Send report</button>
				</div>
			</form>
		</div>
	</div>
</div>

<linkform media="movies" media-id="{{movie.ID}}"></linkform>

<div class="container">
	<div class="col-xs-12 col-sm-10 center-block">
		<hr />
	</div>
</div>

<comments></comments>