<div class="container">
		<h3 class="page-header">
			 Man of Steel <small class="nowrap"><i>(L'Homme de Fer)</i></small>
		</h3>
	<div class="col-md-2 hidden-xs hidden-sm frame">
		<img class="poster margin-vertical" src="../img/Movie.jpg"></img>
	</div>
	<div class="col-xs-12 col-md-9 margin-top">
		<dl class="dl-horizontal">
			<dt>
				Directed by
			</dt>
			<dd>
				<a href="/person/1">Zack Snyder</a>
			</dd>
			<dt>
				With
			</dt>
			<dd>
				<a href="/person/1" class="nowrap">Henry Cavill</a>, <a href="/person/1" class="nowrap">Diane Lane</a>, <a href="/person/1" class="nowrap">Kevin Costner</a> and <a href="/person/1" class="nowrap">Amy Adams</a>
			</dd>
			<dt>
				Plot
			</dt>
			<dd>
				<p>A young itinerant worker is forced to confront his secret extrastellar origin when Earth is invaded by members of his own race.</p>
			</dd>
			<br />
			<dt>
				Advanced
			</dt>
			<dd>
				<a href="/genres/action" class="nowrap">Action</a> and <a href="/genres/adventure" class="nowrap">Advanture</a> | 143 Min | <a href="/countries/us" class="nowrap">United States</a> | <a href="spoilzr">Spoilzr</a> | <a href="/edit" class="alert-danger-link">Edit</a>
			</dd>
		</dl>
	</div>
</div>
<div class="container">
	<div class="col-xs-10 center-block">
		<br />
	</div>
</div>
<div class="container player">
	<div class="col-xs-9 col-sm-9 col-md-7 col-lg-6 center-block player-path">
		<a href="#" class="player-path-glyphicon"><i class="glyphicon-info fa fa-list fa-sm"></i></a>
		<img src="/img/Purevid.png" class="img-rounded img-xsmall"></img>
		<div class="player-path-hostname">Purevid</div>
		<a href="#" class="player-path-glyphicon"><i class="fa fa-warning glyphicon-error fa-sm"></i></a>
	</div>
	<div class="center-block hidden-xs hidden-sm" style="width:560px;height:315px;">
		<iframe id="playerFrame" width="100%" height="100%" src="http://www.exashare.com/embed-j8wwzy2cf9a0-560x315.html" frameborder="0" allowfullscreen="" SCROLLING="NO"></iframe>
		<div  class="player-loading">
			<div class="alert alert-warning">
			  <strong>Loading!</strong> The movie will appear in a few of seconds...
			</div>
		</div>
	</div>
	<div class="hidden-md hidden-lg col-xs-9 no-padding center-block container-player">
		<img class="col-xs-12 no-padding" src="../img/18951_screen.jpg"></img>
		<a href="#"><img class="btn-play" src="../img/Play - Inverse.png"></img></a>
	</div>
</div>
<div class="container">
	<div class="col-xs-10 center-block">
		<br /><br />
	</div>
</div>
<div class="container">
	<div class="col-xs-12 col-md-10 center-block">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">Comments</a></li>
			<li><a href="#">More</a></li>
		</ul>
	</div>
</div>
<pre>{{movie}}</pre>

<comments></comments>

<pre>{{links}}</pre>
<div ng-show="form.msg">{{form.msg}}</div>
<form ng-submit="submitLinks(formLinks)">
	<div ng-repeat="link in formLinks"><input ng-focus="addLinkRow()" type="text" placeholder="link" name="url" ng-model="link.url" /></div>
	<input type="submit" />
</form>