<div class="container">
		<h3 class="page-header">
			 Man of Steel
		</h3>
	<div class="col-md-2 hidden-xs hidden-sm">
		<img class="col-md-12 no-padding margin-vertical" src="../img/Movie.jpg"></img>
	</div>
	<div class="col-xs-12 col-md-10 margin-vertical">
		<dl class="dl-horizontal">
			<dt>
				Directed by
			</dt>
			<dd>
				<a href="/person/1">Zack Snyder</a>
			</dd>
			<dt>
				With
			</dt>
			<dd>
				<a href="/person/1">Henry Cavill</a>, <a href="/person/1">Diane Lane</a>, <a href="/person/1">Kevin Costner</a> and <a href="/person/1">Amy Adams</a>
			</dd>
			<dt>
				Plot
			</dt>
			<dd>
				<p>A young itinerant worker is forced to confront his secret extrastellar origin when Earth is invaded by members of his own race.</p>
			</dd>
			<br />
			<dt>
				Advanced
			</dt>
			<dd>
				<a href="/genres/action">Action</a> and <a href="/genres/adventure">Advanture</a> | 143 Min | <a href="/countries/us">United States</a> | <a href="/select">Select</a> | <a href="/edit" class="alert-danger-link">Edit</a>
			</dd>
		</dl>
	</div>
</div>
<br />
<div class="container">
	<div class="hidden-xs hidden-sm center-block" style="width:560px;height:315px;">
	<iframe id="playerFrame" width="560" height="315" src="http://www.exashare.com/embed-j8wwzy2cf9a0-560x315.html" frameborder="0" allowfullscreen="" SCROLLING="NO"></iframe>	</div>
	</div>
</div>
<br />