<div class="container" id="alertContainer"></div>
<div class="container login">
	<div class="col-xs-12 col-md-5 center-block">
	<h3>Reset your password</h3>

		<form ng-submit="generateToken()" ng-if="!$route.current.params.token">
			<div class="form-group">
				<label>E-mail</label>
				<input type="text"  id="email" placeholder="{{'FORM_EMAIL' | translate}}" name="email" ng-model="email">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-lg btn-primary" translate="FORM_RESET">Reset</button>
			</div>
		</form>

		<form ng-submit="resetPassword()" ng-if="$route.current.params.token">
			<div class="form-group">
				<label>Enter New Password</label>
				<input type="text"  id="newpassword" placeholder="{{'FORM_PASSWORD' | translate}}" name="newpassword" ng-model="newPassword">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-lg btn-primary" translate="FORM_SAVE">Enregistrer</button>
			</div>
		</form>
	</div>
</div>