{{search}}
<div class="container">
	<p class="page-header-link">
		<h3 class="page-header">
			{{search.count}} Results for '{{search.query}}' in {{$route.current.media}}
		</h3>
	</p>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie 2.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	<a href="/movies/1" class="col-xs-4 col-sm-4 col-md-2 frame"><img class="poster" src="img/Movie.jpg"></img></a>
	
	<!-- Insert more results here, one line contains 6 results -->
</div>