<div class="container">
		<h3 class="page-header">
			{{show.title}} <small class="nowrap"><i></i></small>
		</h3>
	<div class="col-md-2 hidden-xs hidden-sm frame">
		<img class="poster margin-vertical" src="/img/Show.jpg"></img>
	</div>
	<div class="col-xs-12 col-md-9 margin-top">
		<dl class="dl-horizontal">
			<dt>
				Directed by
			</dt>
			<dd>
				<a href="/person/1">Zack Snyder</a>
			</dd>
			<dt>
				With
			</dt>
			<dd>
				<a href="/person/1" class="nowrap">Henry Cavill</a>, <a href="/person/1" class="nowrap">Diane Lane</a>, <a href="/person/1" class="nowrap">Kevin Costner</a> and <a href="/person/1" class="nowrap">Amy Adams</a>
			</dd>
			<dt>
				Plot
			</dt>
			<dd>
				<p>Chronicles the exploits of singles, five guys and five girls, in search of love all over the course of one night.</p>
			</dd>
			<br />
			<dt>
				Advanced
			</dt>
			<dd>
				<a href="/genres/comedy" class="nowrap">Comedy</a> | 1 Saison | <a href="/countries/us" class="nowrap">United States</a> | Cancelled | <a href="spoilzr">Spoilzr</a> | <a href="/edit" class="alert-danger-link">Edit</a>
			</dd>
		</dl>
		<div class="center-block">
			<button class="btn btn-primary btn-sm" style="width:80px;">Seasons</button>
			<button class="btn btn-info btn-sm" ng-init="season.nb = show.seasons.indexOf(season)" ng-click="changeSeason(season.nb)" ng-repeat="season in show.seasons" ng-if="season" ng-class="{active: season.nb == currentEpisode.season_nb}">{{season.nb}}</button>
			<br/>
			<button class="btn btn-primary btn-sm" style="width:80px;">Episodes</button>
			<span ng-repeat="season in show.seasons" ng-if="show.seasons.indexOf(season) == currentEpisode.season_nb">
				<button class="btn btn-info btn-sm" ng-if="episode" ng-click="changeEpisode(episode)" ng-repeat="episode in season" ng-class="{active: episode.episode_nb == currentEpisode.episode_nb}">{{episode.episode_nb}}</button>
			</span>
		</div>
	</div>
</div>
<div class="container player">
	<!-- à placer à gauche et droite du lecteur et placer le style dans le .CSS-->
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		<span class="glyphicon glyphicon-chevron-left" ng-click="prevEpisode()" style="font-size: 30px;"></span>
		<span class="glyphicon glyphicon-chevron-right" ng-click="nextEpisode()" style="font-size: 30px;"></span>
	</div>

	<div class="col-xs-9 col-sm-9 col-md-7 col-lg-6 center-block player-path">
		{{currentEpisode.title}}
	</div>
	<div class="center-block hidden-xs hidden-sm" style="width:560px;height:315px;">
		<iframe id="playerFrame" width="100%" height="100%" src="http://www.exashare.com/embed-cytehz36szhk-560x315.html" frameborder="0" allowfullscreen="" SCROLLING="NO"></iframe>
		<div  class="player-loading">
			<div class="alert alert-warning">
			  <strong>Loading!</strong> The movie will appear in a few of seconds...
			</div>
		</div>
	</div>
	<div class="hidden-md hidden-lg col-xs-9 no-padding center-block container-player">
		<img class="col-xs-12 no-padding" src="/img/18951_screen.jpg"></img>
		<a href="#"><img class="btn-play" src="/img/Play - Inverse.png"></img></a>
	</div>
	<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 center-block player-path">
		<div class="col-xs-3" style="padding-left:0px;">
			<a href="#" class="player-path-glyphicon glyphicon-info" title="Show all 12 links" ng-click="showAllLinks = !showAllLinks">
				<i class="fa fa-caret-right fa-sm" ng-hide="showAllLinks"></i> 
				<i class="fa fa-caret-down fa-sm" ng-show="showAllLinks"></i> 
				Links
			</a>
		</div>
		<div class="col-xs-3">
			<center>
				<img src="/img/Purevid.png" class="img-rounded img-xsmall hidden-xs"></img>
				<div class="player-path-hostname" title="Added June the 2nd by @xiamix">Purevid</div>
			</center>
		</div>
		<div class="col-xs-3" style="padding-right:0px;">
			<div class="pull-right">
				<a href="#" class="player-path-glyphicon glyphicon-error" title="Notify a problem with this link"><i class="fa fa-flag fa-sm"></i> Report</a>
			</div>
		</div>
		<div class="col-xs-3" style="padding-right:0px;">
			<div class="pull-right">
				<a href="#" class="player-path-glyphicon glyphicon-error" title="Add link" data-toggle="modal" data-target="#formlinkModal"><i class="fa fa-plus fa-sm"></i> Add</a>
			</div>
		</div>
	</div>
</div>

<!-- formLink modal -->
<div class="modal fade" id="formlinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Links for Season {{currentEpisode.season_nb}} Episode {{currentEpisode.episode_nb}}</h4>
      </div>
      <form ng-submit="submitLinks(formLinks)">
	      <div class="modal-body">
	      	<div id="alertContainer"></div>
	        <div ng-repeat="link in formLinks">
	        	<div class="form-group">
	        		<input ng-focus="addLinkRow(formLinks.indexOf(link))" class="form-control" type="text" placeholder="http://" name="url" ng-model="link.url" />
	        	</div>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="submit" class="btn btn-primary">Save changes</button>
	      </div>
      </form>
    </div>
  </div>
</div>

<comments></comments>

<pre>{{links}}</pre>