<!DOCTYPE html>
<html ng-app="myapp" ng-controller="MainController">
	<head>
		<% include partials/head %>
		<title ng-bind-template="{{$route.current.title | translate}}">
			Stream
		</title>
	</head>
	<body>
		<% include partials/navbar %>
		
		<!-- Angular-served partial -->
		<div ng-view></div>

		<% if (moderator) { %> <script src="https://cdn.socket.io/socket.io-1.0.4.js"></script> <% } %>
	</body>
</html>