<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>
		<title>
			Stream
		</title>
	</head>
	<body>
		<% include partials/navbar %>

		<div class="container">
			<div class="alert alert-success alert-dismissable">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  <strong>Well done!</strong> This is the home page
			</div>
		</div>
		
		<% include partials/lists %>

	</body>
</html>