<!DOCTYPE html>
<html ng-app="myapp">
	<head>
		<!-- CSS -->
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<!-- HTML -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- APPLE -->
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-title" content="ShoStream">
		<!-- iOS 7 iPad   (retina) --><link href="/img/apple/apple-touch-icon-152x152.png" sizes="152x152" rel="apple-touch-icon">
		<!-- iOS 6 iPad   (retina) --><link href="/img/apple/apple-touch-icon-144x144.png" sizes="144x144" rel="apple-touch-icon">
		<!-- iOS 7 iPhone (retina) --><link href="/img/apple/apple-touch-icon-120x120.png" sizes="120x120" rel="apple-touch-icon">
		<!-- iOS 6 iPhone (retina) --><link href="/img/apple/apple-touch-icon-114x114.png" sizes="114x114" rel="apple-touch-icon">
		<!-- iOS 7 iPad            --><link href="/img/apple/apple-touch-icon-76x76.png" sizes="76x76" rel="apple-touch-icon">
		<!-- iOS 6 iPad            --><link href="/img/apple/apple-touch-icon-72x72.png" sizes="72x72" rel="apple-touch-icon">
		<!-- iOS 6 iPhone          --> <link href="/img/apple/apple-touch-icon-57x57.png" sizes="57x57" rel="apple-touch-icon">
		<!-- iOS 6 & 7 iPad (retina, portrait)  --><link href="/img/apple/apple-touch-startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
		<!-- iOS 6 & 7 iPad (retina, landscape) --><link href="/img/apple/apple-touch-startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
		<!-- iOS 6 iPad (portrait)              --><link href="/img/apple/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
		<!-- iOS 6 iPad (landscape)             --><link href="/img/apple/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
		<!-- iOS 6 & 7 iPhone 5                 --><link href="/img/apple/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
		<!-- iOS 6 & 7 iPhone (retina)          --><link href="/img/apple/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
		<!-- iOS 6 iPhone                       --><link href="/img/apple/apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
		
		<title>
			Stream
		</title>
	</head>
	<body style="background-color: #0Ca7d1;">
			<div style="background-color: #EEE;text-align: center;height: 500px;padding: 50px;margin-top: 50px;" class="col-md-8 col-md-offset-2">
				<img src="/img/lemon_transparent.png">
				<h3 style="
	    margin-bottom: 40px;
	">A new website coming soon</h3>
	<p><em>Looking for ShoStream.fr ?</em></p>
	<p><a href="http://www.shostream.fr">click here</a></p>
			</div>
		
	</body>
</html>