<pre>{{links}}</pre>
<table class="table table-striped">
	<tr> <th>URL</th> <th>Views</th> <th>Media</th> <th>DELETE</th> </tr>
	<tr ng-repeat="link in links">
		<td>{{link.url}}</td>
		<td>{{link.views}}</td>
		<td><a ng-href="/{{link.media}}/{{link.mediaId}}">{{link.media}} #{{link.mediaId}}</a></td>
		<td><a ng-click="deleteLink(link)" href="">DELETE</a></td>
	</tr>
</table>