<row class="col-md-12">
	<table class="table table-striped">
		<tr> <th>URL</th> <th translate="VIEWS">Views</th> <th translate="MEDIA">Media</th> <th translate="ACTIONS">Actions</th> </tr>
		<tr ng-repeat="link in links">
			<td><a ng-href="{{link.url}}" target="_blank">{{link.url}}</a></td>
			<td>{{link.views}}</td>
			<td><a ng-href="/{{link.media}}/{{link.mediaId}}">{{link.media}} #{{link.mediaId}}</a></td>
			<td><button class="btn btn-xs btn-danger" ng-click="deleteLink(link)" translate="FORM_DELETE">DELETE</button></td>
		</tr>
	</table>
</row>