<div class="container">
	<h3 class="page-header">
		Preferences
	</h3>
	<form ng-submit="saveSettings()">
		<h4>Main Language</h4>

		<label ng-repeat="language in languages">
			<input type="radio" name="lang" ng-model="form.lang" value="{{language.code}}"/> {{language.name}}
		</label>

		<h4>Subtitles</h4>

		<label ng-repeat="subtitle in languages">
			<input type="checkbox" ng-model="subtitle.selected" /> {{subtitle.name}}
		</label>

		<div class="form-group">
			<button type="submit" class="btn btn-sm btn-primary">Save</button>
		</div>
	</form>
</div>


{{form}}