/*!
 * Network v1.1.1 (http://www.shostream.com)
 * Copyright 2012-2014 ShoStream, Inc.
 * Partial or entire copy for private or commercial use disallowed without authorisation (contact@shostream.com)
 */
 
input.search{
	background: url("../img/lens.png") #f7f7f7 no-repeat 95%;
	box-shadow: none;
	height: 19px;
	font-size: 13px;
	padding: 2px 6px;
	border:1px solid #d0dde9;
	margin-left: 15px;
	border-radius: 2px;
	top: 11px;
	width: 100%;
}
.marked,
.marked:hover,
.marked:active {
	border-left: 5px solid #eeeeee;
	padding-left: 5px;
	color: #333333;
}
.navbar {
border-radius: 0px;
border: none;
}
.cover {
  padding: 10px;
  width: 12.5%;
  float: left;
}