<div ng-controller="ModerateController">
	<div class="nav nav-tabs" bs-tabs="tabs">
	</div>
</div>
<script>
	function ModerateController ($scope, $http) {

		$http.get('/api/comments?limit=100').success(function (data) {
			$scope.comments = data;
		});

		$http.get('/api/links/flagged').success(function (data) {
			$scope.links = data;
		})

		$scope.deleteLink = function(link) {
			$http.delete('/api/links/' + link._id).success(function (data) {
				$scope.links.splice($scope.links.indexOf(link), 1);
			});
		}

		$scope.deleteComment = function (comment) {
			if (comment) {
				$http.delete('/api/comments/' + comment.comment._id).success(function (data) {
					$scope.comments.splice($scope.comments.indexOf(comment),1);
				})
			}
		}

		$scope.searchUser = function () {
			if (this.usernameSearch) {
				$http.get('/api/users/@' + this.usernameSearch).success( function (data) {
					$scope.userSearch = data;
				})
			}
		}

		$scope.tabs = [
			{
				"title": "Chat",
				"template": "/protected/tpl.chat.ejs"
			},
			{
				"title": "Comments",
				"template": "/protected/tpl.comment.ejs"
			},
			{
				"title": "Flagged Links",
				"template": "/userpartials/links.ejs"
			},
			{
				"title": "Users",
				"template": "/protected/tpl.users.ejs"
			}
		]
	};
</script>