<table class="table table-striped">
	<tr> <th>URL</th> <th>Views</th> <th>Media</th> <th>Reason</th> <th>Actions</th> </tr>
	<tr ng-repeat="link in links">
		<td><a ng-href="{{link.url}}" target="_blank">{{link.url}}</a></td>
		<td>{{link.views}}</td>
		<td><a ng-href="/{{link.media}}/{{link.mediaId}}">{{link.media}} #{{link.mediaId}}</a></td>
		<td><span ng-repeat="flag in link.flags" ng-bind="flag.reason"></span></td>
		<td>
			<button class="btn btn-xs btn-success" ng-click="clearLink(link)">CLEAR</button>
			<button class="btn btn-xs btn-danger" ng-click="deleteLink(link)">DELETE</button>
		</td>
	</tr>
</table>