<ul class="col-xs-12 col-sm-10 col-md-8 center-block comments margintop20">
	<li ng-repeat="comment in comments">
		<!-- to modify -->
		<a ng-href="/users/{{comment.author.username}}" class="avatar">
			<img src="/img/default_avatar.png" ng-src="/{{comment.author.avatar}}" class="img-rounded img-small-responsive">
		</a>
		<div class="content">
			<div class="title">
				<a ng-href="/users/{{comment.author.username}}" class="username">
					{{comment.author.username}}
					<small ng-if="comment.author.rights >= 2"><span class="label label-danger vertical-middle">Mod</span></small>
					<small ng-if="comment.author.rights >= 4"><span class="label label-danger vertical-middle">Editor</span></small>
				</a>
				<a ng-if="comment.author._id == $storage.user._id || $storage.user.rights >= 2" ng-click="deleteComment(comment)" href="#" class="glyphicon glyphicon-error pull-right"><i class="fa fa-sm fa-times glyphicon-error pull-right"></i></a><!--For author + mod -->
				<a ng-if="comment.author._id == $storage.user._id" ng-click="editComment(comment)" href="#" class="glyphicon glyphicon-info pull-right"><i class="fa fa-sm fa-edit glyphicon-info pull-right"></i></a><!--For author -->
			</div>
			<div class="text">
				<p>
					{{comment.comment.comment}}
				</p>
			</div>
			<div class="sub">
				<small><nowrap>Posted on {{comment.comment.date | date:'medium'}} in <a ng-href="/{{comment.comment.media}}/{{comment.comment.mediaId}}">{{comment.comment.media}}#{{comment.comment.mediaId}}</a></nowrap></small> 
			</div>
		</div>
	</li>
</ul>